<nav id="sidebar" class="sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/paciente" routerLinkActive="active">
            <i class="bi bi-people"></i> Pacientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/medico" routerLinkActive="active">
            <i class="bi bi-person"></i> Médicos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/internacao" routerLinkActive="active">
            <i class="bi bi-bed"></i> Internações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prescricao" routerLinkActive="active">
            <i class="bi bi-file-earmark-medical"></i> Prescrições
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examesolicitado" routerLinkActive="active">
            <i class="bi bi-card-checklist"></i> Exames Solicitados
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario" routerLinkActive="active">
            <i class="bi bi-person-check"></i> Usuários
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/medicamento" routerLinkActive="active">
            <i class="bi bi-person-check"></i> Medicamentos
          </a>
        </li>
      </ul>
    </div>
  </nav>
  